.cardsContainer{
    padding: 4em 14em 6em 14em;
}

.allCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cardsTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 45px 0;
    gap: 11px;
}

.cardsTitle h5{
    font-size: 1em;
    font-family: AVN;
}

.card{
    outline: 1px solid black;
    background-color: var(--clr3);
    color: var(--clr2);
    padding: 3em 5em;
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardTitle{
    font-family: NHG;
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.cardTxt{
    font-family: AVN;
    font-size: 1.05rem;
}

.card:hover{
    background-color: var(--clr1);
}

@media all and (max-width: 50em){
    .cardsContainer{
        padding: 2em;
    }

    .allCards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}