

.hero h1, p{
    color: var(--clr2);
}

.hero h1{
    font-weight: 800;
    font-size: 2em;
}

.aboutContainer {
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgText{
    padding: 4em 6em 4em 0;
    gap: 4em;
    display: flex;
    text-align: justify;
}

.imgText img{
    max-height: 42em;
    left: 0;
}

.workContainer{
    background-image: url(/public/img/herobg.jpg);
    background-size: cover;
    min-height: 100vh;
}